@namespace SoftwareThingies.KalBlazor.Core
@inherits BaseComponent

<aside
    id="@Id"
    role="dialog"
    aria-hidden="@IsHidden"
    @attributes="FilteredAdditionalAttributes"
    class="@CssClass"
    @onmouseenter="HandleMouseEnter"
    @onmouseleave="HandleMouseLeave">
    <CascadingValue Value="this" IsFixed="true">
        @if (Minimizable && ShowDefaultTrigger)
        {
            <button
                type="button"
                aria-label="@EffectiveMinimizeButtonAriaLabel"
                aria-expanded="@(!IsMinimized)"
                class="@MinimizeButtonCssClass"
                @onclick="ToggleMinimized">
                @if (EffectiveButtonContent is not null)
                {
                    @EffectiveButtonContent
                }
                else
                {
                    <KalIcon Icon="@EffectiveButtonIcon" AdditionalClass="@EffectiveButtonIconClass" />
                }
            </button>
        }
        @ChildContent
    </CascadingValue>
</aside>
