@namespace SoftwareThingies.KalBlazor.Core
@inherits BaseComponent

<aside
    id="@Id"
    role="dialog"
    aria-hidden="@IsHidden"
    @attributes="FilteredAdditionalAttributes"
    class="@CssClass"
    @onmouseenter="HandleMouseEnter"
    @onmouseleave="HandleMouseLeave">
    @if (Minimizable)
    {
        <button
            type="button"
            aria-label="@EffectiveMinimizeButtonAriaLabel"
            aria-expanded="@(!IsMinimized)"
            class="@MinimizeButtonCssClass"
            @onclick="ToggleMinimized">
            @if (MinimizeButtonContent is not null)
            {
                @MinimizeButtonContent
            }
            else
            {
                <KalIcon Icon="@MinimizeIcon" AdditionalClass="@EffectiveMinimizeIconClass" />
            }
        </button>
    }
    @ChildContent
</aside>
