@namespace SoftwareThingies.KalBlazor.Core.DataGrid
@typeparam TItem
@inherits BaseComponent
@attribute [CascadingTypeParameter(nameof(TItem))]

<div @attributes="FilteredAdditionalAttributes" class="@CssClass">
    @if (Columns is not null)
    {
        <CascadingValue Value="GridContext" IsFixed="true">
            <div class="hidden" aria-hidden="true">
                @Columns
            </div>
        </CascadingValue>
    }

    @if (Filter is not null || ShowFilter)
    {
        <CascadingValue Value="@((IKalDataGridFilterContext)this)" IsFixed="false">
            @if (Filter is not null)
            {
                @Filter
            }
            else
            {
                <KalDataGridFilter
                    Class="@FilterClass"
                    AdditionalClass="@AdditionalFilterClass"
                    InputClass="@FilterInputClass"
                    AdditionalInputClass="@AdditionalFilterInputClass"
                    Placeholder="@FilterPlaceholder"
                    ShowResetButton="false" />
            }
        </CascadingValue>
    }

    <table class="@TableCssClass">
        @if (IsBound)
        {
            <thead class="@HeaderCssClass">
                <tr class="@HeaderRowCssClass">
                    @if (HasDefaultChildRowColumn)
                    {
                        <th class="@ExpandHeaderCellCssClass" scope="col">
                            @RenderDefaultChildRowHeader()
                        </th>
                    }

                    @foreach (var entry in GridContext.Entries)
                    {
                        @if (entry is KalToggleGridColumn<TItem> childRowColumn)
                        {
                            <th class="@childRowColumn.HeaderCssClass" scope="@childRowColumn.Scope">
                                @RenderChildRowHeader(childRowColumn)
                            </th>
                        }
                        else if (entry is KalGridColumn<TItem> column)
                        {
                            <th class="@GetHeaderCellCssClass(column)" scope="@column.Scope">
                                @column.HeaderContent
                            </th>
                        }
                    }
                </tr>
            </thead>
            <tbody class="@BodyCssClass">
                @foreach (var item in BoundItems)
                {
                    var isChildRowExpanded = IsChildRowExpanded(item);

                    <tr class="@RowCssClass">
                        @if (HasDefaultChildRowColumn)
                        {
                            <td class="@ExpandCellCssClass">
                                @RenderDefaultChildRowToggle(item, isChildRowExpanded)
                            </td>
                        }

                        @foreach (var entry in GridContext.Entries)
                        {
                            @if (entry is KalToggleGridColumn<TItem> childRowColumn)
                            {
                                <td class="@childRowColumn.CellCssClass">
                                    @RenderChildRowToggle(childRowColumn, item, isChildRowExpanded)
                                </td>
                            }
                            else if (entry is KalGridColumn<TItem> column)
                            {
                                <td class="@column.CellCssClass">
                                    @column.RenderCell(item)

                                    @if (column.CollapsedContent is not null)
                                    {
                                        <div class="@column.CollapsedContentCssClass">
                                            @column.CollapsedContent(item)
                                        </div>
                                    }
                                </td>
                            }
                        }
                    </tr>

                    @if (HasChildRowContent && isChildRowExpanded)
                    {
                        <tr class="@ChildRowCssClass">
                            <td class="@ChildCellCssClass" colspan="@ChildRowColSpan">
                                <div class="@ChildContentCssClass">
                                    <CascadingValue Value="ChildRowExpansionContext" IsFixed="false">
                                        @ChildRowContent!(item)
                                    </CascadingValue>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        }
        else
        {
            @ChildContent
        }
    </table>
</div>
